body {
  background-color: #212121;
  color: #fff;
  padding: 50px 0;
  border-top: 2px solid #fff;
}
h1,
h2,
h3 {
  font-weight: 100;
}
#count {
  background-color: #eee;
  width: 50px;
  display: inline-block;
  text-align: left;
  color: #333;
  padding: 5px;
}
#board {
  width: 225px;
  height: 225px;
  border: 1px solid #fff;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 7.5px;
}
#board .btn {
  width: 100px;
  height: 100px;
}
#board .btn:hover {
  background-color: transparent;
  cursor: pointer;
  border-width: 2px;
}
#board .btn.btn-outline-success.active {
  background-color: #28a745;
}
#board .btn.btn-outline-warning.active {
  background-color: #ffc107;
}
#board .btn.btn-outline-danger.active {
  background-color: #dc3545;
}
#board .btn.btn-outline-primary.active {
  background-color: #007bff;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  display: none;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.message {
  display: none;
  position: fixed;
  font-weight: 900;
  font-size: 10rem;
  text-align: center;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  text-shadow: 0px 3px 0px #eee;
}
